
*{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body {
    background-color: rgb(204,204,204);
    text-align: center;
    
}
.content{
    background-color: rgb(204,204,204);
    text-align: center;
    
}
.button{
    display: inline-block;
    padding: 15px 30px;
    
    border-radius: 5% ;
    text-align: center;
    background-color: rgb(255,255,255);
    margin: 2%;
    text-decoration: none;
}

.button:visited{
    text-decoration: none;
}

.button:hover{
    background-color: rgb(224,224,224);
    text-decoration: none;
}

#results{
    border-style: solid;
    border-color: rgb(204,204,204);
    display: inline-table;
    align-self: center;
}

td{
    border-style: solid;
    border-color: rgb(204,204,204);
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

footer{
    padding-top: 10%;
}

header{
    padding-top: 5%;
}

.questions{
    margin-top: 2%;
    margin-bottom: 2%;
}

.title{
    font-size: 24pt;
}

.foot_l {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

.foot_r {  
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

footer{
    display: inline-block;
    width: 100%;
}