body {
    background-color: brown;
    text-align: center;
    
}
.content{
    background-color: cornsilk;
    text-align: center;
    
}
.link{
    display: inline-block;
    padding: 15px 30px;
    
    border-radius: 15% ;
    text-align: center;
    background-color: brown;
    margin: 2%;
}

#results{
    border-style: solid;
    border-color: brown;
    display: inline-table;
    align-self: center;
}

td{
    border-style: solid;
    border-color: brown;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

footer{
    padding-top: 10%;
}

header{
    padding-top: 5%;
}

.questions{
    margin-top: 2%;
    margin-bottom: 2%;
}

.title{
    font: helvetica;
    font-size: 24pt;
}