body {
    background-color: rgb(204,204,204);
    text-align: center;
    
}
.content{
    background-color: rgb(204,204,204);
    text-align: center;
    
}
.link{
    display: inline-block;
    padding: 15px 30px;
    
    border-radius: 5% ;
    text-align: center;
    background-color: rgb(204,204,204);
    margin: 2%;
}

#results{
    border-style: solid;
    border-color: rgb(204,204,204);
    display: inline-table;
    align-self: center;
}

td{
    border-style: solid;
    border-color: rgb(204,204,204);
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

footer{
    padding-top: 10%;
}

header{
    padding-top: 5%;
}

.questions{
    margin-top: 2%;
    margin-bottom: 2%;
}

.title{
    font-style: helvetica;
    font-size: 24pt;
}