<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title%}{% endblock %}</title>
    </head>
    <header>
    <a href="{{url_for(/)}}">TGD</a>
        {% block header %}{% endblock %}
    </header>
    <body>
        <div class="content">
            {% block content %} {% endblock %} 
        </div>
    </body>
    <footer>
        {% block footer %}
        {% endblock %}
        <a class="f_link " href="https://www.gov.ie/en/publication/6b632-technical-guidance-document-k-stairways-ladders-ramps-and-guards/">TGD-K</a>
    </footer>
</html>

