<!DOCTYPE html>

<html>
    <head>
        <link  rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title%}{% endblock %}</title>
    </head>
    <header>
        <a class="h_link" href="/">TGD</a>
        {% if session['user'] is defined %}
            <div id="user">User:{{session['user']}}  </div>
        {% endif %}
        {% block header %}{% endblock %}
    </header>
    <body>
        <div class="content">
            {% block content %} {% endblock %} 
        </div>
    </body>
    <footer>
        {% block footer %}
        {% endblock %}
        <a class="f_link " href="https://www.gov.ie/en/collection/d9729-technical-guidance-documents/">TGD'S</a>
    </footer>
</html>

