<!DOCTYPE html>

<html>
    <head>
        <link class="h_link" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title%}{% endblock %}</title>
    </head>
    <header>
    <a href="/">TGD</a>
        {% block header %}{% endblock %}
    </header>
    <body>
        <div class="content">
            {% block content %} {% endblock %} 
        </div>
    </body>
    <footer>
        {% block footer %}
        {% endblock %}
        <a class="f_link " href="https://www.gov.ie/en/collection/d9729-technical-guidance-documents/">TGD'S</a>
    </footer>
</html>

