{% extends 'base.html.jinja' %}

{% block header %}<h1 class="title"> {{project['name']}} </h1>{% endblock %}
{% block content %}
<form method="post" action="{{url_for('questions.stair_questions')}}" class="questions">
<input type="radio" id="domestic" class="checkmark"  name='privacy' value="domestic" required>
        <label for="domestic" id='dom-lab'class="radio">domestic</label>
            OR         
            <input type="radio" id="non" class="checkmark"  name="privacy" value="public" required>
        <label for="non" class="radio" id='non-lab'>non-domestic</label>
        <br><br>
        <input type="submit" value="NEXT">
</form>
{% endblock %}