{% extends 'base.html.jinja' %}

{% block header %}<h1 class="title"> {{project['name']}} </h1>{% endblock %}
{% block content %}
<form method="post" action="{{url_for('questions.stair_questions')}}" class="questions">
        <label for="domestic" class="radio">domestic
            <input type="radio" class="checkmark"  name="domestic" value="domestic" required>
        </label>
            OR         
        <label for="non" class="radio">non-domestic
            <input type="radio" class="checkmark"  name="domestic" value="nondomestic" required>
        </label>
        <br><br>
        <input type="submit">
</form>
{% endblock %}