{% extends 'base.html.jinja' %}

{% block title %}TGD-Menu{% endblock %}
{% block header %}
    <h1>TGD-Menu</h1>
{% endblock %}
{% block content %}

<div>
    <a class="link" href="{{url_for('questions.guide_index')}}">Select Guides</a><br>
    <a class="link" href="{{url_for('questions.questions')}}">Project Questions</a><br>
    <a class="link" href="{{url_for('login.login')}}">Login</a>
</div>
{% endblock %}
{% block footer %}
{% endblock %}