{% extends 'base.html.jinja' %}

{% block title %}TGD-Menu{% endblock %}
{% block header %}
    <h1 class="title">TECHNICAL GUIDANCE TOOL</h1>
    <h2 class="l_title">
    PART K + PART M<br>
    STAIR DEMONSTRATION</h2>
    <h4 class="l_title">FKL architects</h4>
{% endblock %}
{% block content %}

<div>
    
    <a class="button" href="{{url_for('questions.new_project')}}">NEW PROJECT</a><br></div>   
</div>
{% endblock %}
{% block footer %}
    <div class="foot_l">
        <a  href="{{url_for('questions.guide_index')}}">Select Guides</a>
    </div>
    <div class="foot_r">
        <a  href="{{url_for('login.login')}}">Login</a>
    </div>
{% endblock %}