{% extends 'base.html.jinja' %}

{% block title %}TGD-Saves{% endblock %}
{% block header %}
    <h1 class="title">SAVES</h1>
{% endblock %}

{% block content %}
    {% for i in names %}
        <div class="center">
        <h3>{{i[0]}}</h3><br>
        <a href="{{url_for('saves.display_save')}}">Load</a>
        </div>
    {% endfor %}
{% endblock%}
