{% extends 'base.html.jinja' %}

{% block title %}TGD-Saves{% endblock %}
{% block header %}
    <h1 class="title">SAVES</h1>
{% endblock %}

{% block content %}
    {% for i in names %}
        <div class="center">
        <h3>{{i[0]}}</h3><br>
        <form action="{{url_for('saves.display_save')}}" method="post">
            <input type="hidden" value={{i[1]}} name="id">
            <input type="submit" value="LOAD">
        </form>
        </div><br>
    {% endfor %}
{% endblock%}
