{% extends 'base.html.jinja' %}
{% from 'macros.html.jinja' import project_display %}

{% block title %}TGD-Saves{% endblock %}
{% block header %}
    <h1 class="title">SAVES</h1>
{% endblock %}
    
{% block content %}
    {{ project_display(project) }}
    <br>
    {% for i in range(project['sig_num'|string]) %}
        <div>Signed by:{{project['sigs'][i]['sig']}}  on:{{project['sigs'][i]['date']}}</div>
        <br><br>
    {% endfor %}
{% endblock%}
