
{% macro project_display(project)%}

    <h2>{{project['name']}}</h2>
    <div>floors:{{project['floors']}}<br>
    {{project['privacy']}}
    {# STAIRS #}
    {% for i in range(project['stair_num']) %}
        <table id="results"></table>
        <h3>{{project['stairs'][i|string]['name']}}</h3>
        {{project['stairs'][i|string]['inside']}} <br>
        {% if project['stairs'][i|string]['part_m'] %}
            Part M
        {% endif %}
        <br><br>
        
        <tr><td class="left">Total Rise</td><td class="right">{{project['stairs'][i|string]['rise']}}mm</td></tr>
        <tr><td class="left">Minimum flights</td><td class="right">{{project['stairs'][i|string]['min_f']}}</td></tr>
        
        {% if project['stairs'][i|string]['inside'] == 'internal' %}
            {% if project['privacy'] == 'domestic' %}
                {% if project['stairs'][i|string]['part_m']%}
                    {# INTERNAL DOMESTIC PART_M #}
                    <tr><td class="left">Width</td><td class="right">>900mm</td></tr>
                    <tr><td class="left">Max Rise</td><td class="right">1800mm</td></tr>
                    <tr><td class="left">Rise(R)</td><td class="right">&lt=175mm</td></tr>
                    <tr><td class="left">Going(G)</td><td class="right">&gt= 280mm</td></tr>
                    <tr><td class="left">Gait(2R+G)</td><td class="right">opimal: 600 min: 550 max: 700</td></tr>
                    <tr><td class="left">Open Risers</td><td class="right">Allowed</td></tr>
                    <tr><td class="left">Tapered Treads</td><td class="right">Avoid</td></tr>
                    <tr><td class="left">Headroom</td><td class="right">2000mm</td></tr>
                    <tr><td class="left">Handrails</td><td class="right">>3 Risers Provide continuous on both sides</td></tr>
                    <tr><td class="left">Handrail height</td><td class="right">Pitch line of flight: min: 900mm max: 1000mm</td></tr>
                    <tr><td class="left">               </td><td class="right">Intermediate landing: min: 900mm max: 1100mm</td></tr>
                    <tr><td class="left"> Guarding</td><td class="right">Where rise > 600mm</td></tr>
                {% else %}
                    {# INTERNAL DOMESTIC NON PART_M #}
                    <tr><td class="left">Width</td><td class="right"> >800mm</td></tr>
                    <tr><td class="left">Max Risers</td><td class="right"> 16</td></tr>
                    <tr><td class="left">Rise(R)</td><td class="right">opimal: 175mm max: 220mm</td></tr>
                    <tr><td class="left">Going(G)</td><td class="right">optimal: 250mm min:220mm</td></tr>
                    <tr><td class="left">Gait(2R+G)</td><td class="right">opimal: 600 min: 550 max: 700</td></tr>
                    <tr><td class="left">Open Risers</td><td class="right">Allowed</td></tr>
                    <tr><td class="left">Tapered Treads</td><td class="right">Avoid</td></tr>
                    <tr><td class="left">Headroom</td><td class="right">2000mm</td></tr>
                    <tr><td class="left">Handrails</td><td class="right">>3 Risers : Provide Handrails</td></tr>
                    <tr><td class="left">         </td><td class="right"> &lt= 1000mm rise : one side only</td></tr>
                    <tr><td class="left">         </td><td class="right">> 1000mm rise : both sides</td></tr>
                    <tr><td class="left">Handrail height</td><td class="right"> Pitch line of flight: min: 900mm max: 1000mm</td></tr>
                    <tr><td class="left">                </td><td class="right"> Intermediate landing: min: 900mm max: 1100mm</td></tr>
                    <tr><td class="left">Guarding</td><td class="right">Where rise > 600mm</td></tr>
                {% endif %}
            {% else %}
                {% if project['stairs'][i|string]['part_m'] %}
                    {# INTERNAL PUBLIC PART_M #}
                    <tr><td class="left">Max Rise</td><td class="right"> 1800mm</td></tr>
                    <tr><td class="left">Width</td><td class="right"> 1200mm min between walls, upstands, strings</td></tr>
                    <tr><td class="left">      </td><td class="right">1000mm min between handrails</td></tr>
                    <tr><td class="left">Rise(R)</td><td class="right"> 150 - 180 mm</td></tr>
                    <tr><td class="left">Going(G)</td><td class="right"> 250 - 300 mm</td></tr>
                    <tr><td class="left">Gait(2R + G)</td><td class="right"> 550 - 700 optimal:600</td></tr>
                    <tr><td class="left">Open Risers</td><td class="right"> NO</td></tr>
                    <tr><td class="left">Tapered Treads</td><td class="right"> NO</td></tr>
                    <tr><td class="left">Headrroom</td><td class="right"> >= 2100mm</td></tr>
                    <tr><td class="left">Handrail</td><td class="right"> Both sides</td></tr>
                    <tr><td class="left">Handrail Height</td><td class="right"> Flight: Min: 900mm Max: 1000mm</td></tr>
                    <tr><td class="left">              </td><td class="right"> Landing: Min: 900mm Max: 1000mm</td></tr>
                    <tr><td class="left">Guarding</td><td class="right"> Where rise >600mm</td></tr>
                    <tr><td class="left">Visibility</td><td class="right"> All step nosing to incorporate permanently contrasting material on the tread.</td></tr>
                    <tr><td class="left">          </td><td class="right"> Illumanence at tread level to be at least 100 lux</td></tr>
                {% else %}
                    {# INTERNAL PUBLIC NON PART_M #}
                    <tr><td class="left">Max risers</td><td class="right"> 16</td></tr>
                    <tr><td class="left">Width</td><td class="right"> 800mm</td></tr>
                    <tr><td class="left">Rise(R)</td><td class="right"> Optimal:150mm Max:190mm</td></tr>
                    <tr><td class="left">Going(G)</td><td class="right"> Optimal:300 Min:280mm</td></tr>
                    <tr><td class="left">Gait(2R + G)</td><td class="right"> 550 - 700 optimal:600</td></tr>
                    <tr><td class="left">Open Risers</td><td class="right"> min 16mm nosing overlap, max 100mm gap between Treads</td></tr>
                    <tr><td class="left">Tapered Treads</td><td class="right"> NO</td></tr>
                    <tr><td class="left">Headroom</td><td class="right"> >= 2000mm</td></tr>
                    <tr><td class="left">Handrails</td><td class="right"> >3 Risers : Provide Handrails</td></tr>
                    <tr><td class="left">         </td><td class="right"> &lt= 1000mm rise : one side only</td></tr>
                    <tr><td class="left">         </td><td class="right"> > 1000mm rise : both sides</td></tr>
                    <tr><td class="left">Handrail height</td><td class="right"> Pitch line of flight: min: 900mm max: 1000mm</td></tr>
                    <tr><td class="left">               </td><td class="right"> Intermediate landing: min: 900mm max: 1100mm</td></tr>
                    <tr><td class="left">Guarding</td><td class="right"> Where rise >600mm</td></tr>
                {% endif %}
            {% endif %}
        {% else %}
            {% if project['privacy'] == 'domestic' %}
                {% if project['stairs'][i|string]['part_m'] %}
                    {# EXTERNAL DOMESTIC PART_M #}
                    <tr><td class="left">Width</td><td class="right"> >900mm</td></tr>
                    <tr><td class="left">Max Rise</td><td class="right"> 1800mm</td></tr>
                    <tr><td class="left">Rise(R)</td><td class="right"> &lt=175mm</td></tr>
                    <tr><td class="left">Going(G)</td><td class="right"> &gt= 280mm</td></tr>
                    <tr><td class="left">Gait(2R+G)</td><td class="right"> opimal: 600 min: 550 max: 700</td></tr>
                    <tr><td class="left">Open Risers</td><td class="right"> min 16mm nosing overlap, max 100mm gap between Treads</td></tr>
                    <tr><td class="left">Tapered Treads</td><td class="right"> Avoid</td></tr>
                    <tr><td class="left">Headroom</td><td class="right"> 2000mm</td></tr>
                    <tr><td class="left">Handrails</td><td class="right"> >3 Risers Provide continuous on both sides</td></tr>
                    <tr><td class="left">         </td><td class="right">  Going >= 750 handrails need not be provided</td></tr>
                    <tr><td class="left">Handrail height</td><td class="right"> Pitch line of flight: min: 900mm max: 1000mm</td></tr>
                    <tr><td class="left">               </td><td class="right"> Intermediate landing: min: 900mm max: 1100mm</td></tr>
                    <tr><td class="left">Guarding</td><td class="right"> Where rise > 600mm</td></tr>
                {% else %}
                    {# EXTERNAL DOMESTIC NON PART_M #}
                    <tr><td class="left">Width</td><td class="right"> >800mm</td></tr>
                    <tr><td class="left">Max Risers</td><td class="right"> 16</td></tr>
                    <tr><td class="left">Rise(R)</td><td class="right"> opimal: 175mm max: 220mm</td></tr>
                    <tr><td class="left">Going(G)</td><td class="right"> optimal: 250mm min:220mm</td></tr>
                    <tr><td class="left">Gait(2R+G)</td><td class="right"> opimal: 600 min: 550 max: 700</td></tr>
                    <tr><td class="left">Open Risers</td><td class="right"> min 16mm nosing overlap, max 100mm gap between Treads</td></tr>
                    <tr><td class="left">Tapered Treads</td><td class="right"> Avoid</td></tr>
                    <tr><td class="left">Headroom</td><td class="right"> 2100mm</td></tr>
                    <tr><td class="left">Handrails</td><td class="right"> >3 Risers : Provide Handrails</td></tr>
                    <tr><td class="left">         </td><td class="right"> &lt= 1000mm rise : one side only</td></tr>
                    <tr><td class="left">         </td><td class="right"> > 1000mm rise : both sides</td></tr>
                    <tr><td class="left">Handrail height</td><td class="right"> Pitch line of flight: min: 900mm max: 1000mm</td></tr>
                    <tr><td class="left">               </td><td class="right"> Intermediate landing: min: 900mm max: 1100mm</td></tr>
                    <tr><td class="left">Guarding</td><td class="right"> Where rise > 600mm</td></tr>
                {% endif %}
            {% else %}
                {% if project['stairs'][i|string]['part_m'] %}
                    {# EXTERNAL PUBLIC PART_M #}
                    <tr><td class="left">Max Rise</td><td class="right"> 1500mm or 18 risers where going >= 350mm</td></tr>
                    <tr><td class="left">Width</td><td class="right"> 1200mm min between walls, upstands, strings </td></tr>
                    <tr><td class="left">     </td><td class="right"> 1000mm min between handrails</td></tr>
                    <tr><td class="left">Rise(R)</td><td class="right"> 150 - 180 mm</td></tr>
                    <tr><td class="left">Going(G)</td><td class="right"> 300 - 450 mm</td></tr>
                    <tr><td class="left">Gait(2R + G)</td><td class="right"> 550 - 700 optimal:600</td></tr>
                    <tr><td class="left">Open Risers</td><td class="right"> Non Compliant</td></tr>
                    <tr><td class="left">Tapered Treads</td><td class="right"> Non Compliant</td></tr>
                    <tr><td class="left">Headrroom</td><td class="right"> >= 2100mm</td></tr>
                    <tr><td class="left">Handrail</td><td class="right"> Both sides all stairs regardless of risers</td></tr>
                    <tr><td class="left">Handrail Height</td><td class="right"> Flight: Min: 900mm Max: 1000mm</td></tr>
                    <tr><td class="left">               </td><td class="right"> Landing: Min: 900mm Max: 1100mm</td></tr>
                    <tr><td class="left">Guarding</td><td class="right"> Where rise >600mm</td></tr>
                    <tr><td class="left">Visibility</td><td class="right"> All step nosing to incorporate permanently contrasting material on the tread.</td></tr>
                    <tr><td class="left">          </td><td class="right"> Illumanence at tread level to be at least 100 lux</td></tr>
                    <tr><td class="left">Tactile hazard warning surfaces</td><td class="right"> top and bottom landings</td></tr>
                {% else %}
                    {# EXTERNAL PUBLIC NON PART_M #}
                    <tr><td class="left">Max risers</td><td class="right"> 16 or 18 where going >= 350</td></tr>
                    <tr><td class="left">Width</td><td class="right"> 800mm</td></tr>
                    <tr><td class="left">Rise(R)</td><td class="right"> Optimal:150mm Max:180mm</td></tr>
                    <tr><td class="left">Going(G)</td><td class="right"> Optimal:300 Min:280mm</td></tr>
                    <tr><td class="left">Gait(2R + G)</td><td class="right"> 550 - 700 optimal:600</td></tr>
                    <tr><td class="left">Open Risers</td><td class="right"> min 16mm nosing overlap, max 100mm gap between Treads</td></tr>
                    <tr><td class="left">Tapered Treads</td><td class="right"> Non Compliant</td></tr>
                    <tr><td class="left">Headroom</td><td class="right"> >= 2000mm</td></tr>
                    <tr><td class="left">Handrails</td><td class="right"> >3 Risers : Provide Handrails</td></tr>
                    <tr><td class="left">         </td><td class="right"> &lt= 1000mm rise : one side only</td></tr>
                    <tr><td class="left">         </td><td class="right"> > 1000mm rise : both sides</td></tr>
                    <tr><td class="left">Handrail height</td><td class="right"> Pitch line of flight: min: 900mm max: 1000mm</td></tr>
                    <tr><td class="left">               </td><td class="right"> Intermediate landing: min: 900mm max: 1100mm</td></tr>
                    <tr><td class="left">Guarding</td><td class="right"> Where rise >600mm</td></tr>
                {% endif %}
            {% endif %}
        {% endif %}
        </table>
        <br><br>
    {% endfor %}
    {# endStairs #}
    </div>
    {# Ramps #}
    {% for i in range(project['ramp_num']) %}
        <table id="results">
        <h3>{{project['ramps'][i|string]['name']}}</h3>
        {{project['ramps'][i|string]['inside']}} <br>
        {% if project['ramps'][i|string]['part_m'] %}
            Part M
        {% endif %}
        <br><br>
        
        <tr><td class="left">Max Going</td><td class="right">{{project['ramps'][i|string]['going']}}M</td></tr>
        <tr><td class="left">Slope</td><td class="right">{{project['ramps'][i|string]['slope']}}</td></tr>
        {% if project['ramps'][i|string]['part_m'] %}
            {% if project['privacy'] == 'domestic' %}
                {# domestic part M #}
                <tr><td class="left">Headroom</td><td class="right">>= 2100mm</td></tr>
                <tr><td class="left">Width</td><td class="right">>= 900mm</td></tr>
                <tr><td class="left">Raised Kirb</td><td class="right"> 100mm open side</td></tr>
            {% else %}
                {# non domestic part M #}
                <tr><td class="left">Headroom</td><td class="right">>= 2100mm</td></tr>
                <tr><td class="left">Clear Width</td><td class="right">>= 1500mm</td></tr>
                <tr><td class="left">Handrail Width</td></td><td class="right">>= 1200mm</td></tr>
                <tr><td class="left">Handrails</td><td class="right">both sides</td></tr>
                <tr><td class="left">Distance between additional handrails</td><td class="right">1200mm - 2500mm</td></tr>
                <tr><td class="left">Stepped acess route</td><td class="right">if rise > 300mm</td></tr>
                <tr><td class="left">Stair lift</td><td class="right">If slope >= 1:20 and rise > 2000mm</td></tr>
            {% endif %}
        {% else %}
            {# non part M #}
            <tr><td class="left">Headroom</td><td class="right">>= 2000mm</td></tr>
            <tr><td class="left">Clear Width</td><td class="right">>= 800mm</td></tr>
            <tr><td class="left">Handrails</td><td class="right">Width < 1000mm : one side</td></tr>
            <tr><td class="left"></td><td class="right">Width >= 1000 mm : both sides</td></tr>
            <tr><td class="left">Handrail height</td><td class="right">900mm - 1000mm</td></tr>
        {% endif %}
    <br>
    {% endfor %}
    </table>
    {# endRamps #}
{% endmacro %}