{% extends 'base.html.jinja' %}

{% block header %}<h1 class="title"> NEW PROJECT </h1>{% endblock %}
{% block content %}
    
    <form method="POST" action="{{url_for('questions.domestic')}}" class="questions">
        <br>
        <label for="name">Project name</label><br>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="stairs">Number of stairs</label><br>
        <input type="number" id="stairs" name="stairs" min="0" value="0" required>
        <br><br>
        <label for="floors">Number of Floors</label><br>
        <input type="number" id="floors" name="floors" value="1" min="1" required>
        <br><br>
        <label for="ramps">Number of Ramps</label><br>
        <input type="number" id="ramps" name="ramps" value="0" min="0" required>
        <br><br>
        <input type="submit" value="NEXT" >
        <br><br>
    </form>
{% endblock %}


