{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Project Questions {% endblock %}</h1>
    <form method="POST" action="{{url_for('questions.stair_questions')}}">
        <label for="name">Project name</label>
        <input type="text" id="name" name="name"><br>
        <h3>Domestic or Non-Domestic</h3><br>
        <input type="radio" id="domestic" name="non/domestic" value="domestic">
        <label for="domestic">domestic</label>
        <input type="radio" id="non" name="non/domestic" value="non">
        <label for="non">non-domestic</label>
        <br>
        <input type="number" id="stairs" name="stairs" min="0">
        <label for="stairs">Number of stairs</label>
        <input type="submit" value="submit">
    </form>
{% endblock %}


