{% extends 'base.html.jinja' %}


{% block header %}<H1> Project Questions - Stairs 2</H1>{% endblock %}
{% block content %}
    <h2>{{ project.name}}</h2>
    
    <form method="POST" action="{{url_for('questions.stair_questions_3')}}"> 
        {% for i in range(project['stair_num']) %}
            <div class="center">
                <h3>{{project['stairs'][i|string]['name']}}</h3>
                {% for j in range(project['stairs'][i|string]['floors']) %}
                    <label for="flights"></label>
                    <br>
                    <input type="number" id="flights" name={{ i ~ j ~ 'flights'}} value = "0">
                {% endfor %}
            </div>
            <br>
        {% endfor %} 
        <br>
        <input type="submit" value="NEXT">
        <br><br>
    </form>
{% endblock %}