{% extends 'base.html.jinja' %}


{% block header %}<H1> Project Questions - Stairs </H1>{% endblock %}
{% block content %}
    <h2>{{ project.name}}</h2>
    
    <form method="POST" action="{{url_for('questions.stair_questions2')}}"> 
        {% for stair in range(project['stair_num']) %}
            <div class="center">
                <h3>{{project['stairs'][stair|string]['name']}}</h3>
                <label for="name">Name</label><br>
                <input type="text" id="name" name={{stair}} value={{project['stairs'][stair|string]['name']}}><br>
                <br>
                <label for="internal">Internal/External</label><br>
                <input type="radio" id="internal" name={{'internal' ~ stair}} value="internal" required>
                <input type="radio" id="external" name={{'internal' ~ stair}} value="external" required>
                <br>
                <label for="rise">Floors</label>
                <br>
                <input type="number" id="floors" name={{'floors' ~ stair}} value="0" required>
                <br><br>
                <label for="part_m">Part M</label>
                <input type="checkbox" id="part_m" name={{'part_m' ~ stair}}>
            </div>
            <br>
        {% endfor %} 
        <br>
        <input type="submit" value="NEXT">
        <br><br>
    </form>
{% endblock %}