{% extends 'base.html.jinja' %}


{% block header %}<H1> Project Questions - Stairs </H1>{% endblock %}
{% block content %}
    
    <form method="POST" action="{{url_for('project.project_results')}}">
        <h2>{{ project.name}}</h2>
        {% for stair in range(project['stair_num']) %}
            <div>
                <h3>{{project['stairs'][str(stair)]['name']}}</h3>
                <label for="name">Name</label><br>
                <input type="text" id="name" name={{stair}} value={{project['stairs'][stair]['name']}}><br>
                <br>
                <label for="internal">Internal/External</label><br>
                <input type="radio" id="internal" name={{'internal' ~ stair}} value="internal" required>
                <input type="radio" id="external" name={{'internal' ~ stair}} value="external" required>
                <br>
                <label for="rise">Total rise</label>
                <br>
                <input type="number" id="rise" name={{'rise' ~ stair}} value="1000" required>
                <br><br>
                <label for="part_m">Part M</label>
                <input type="checkbox" id="part_m" name={{'part_m' ~ stair}}>
            </div>
        {% endfor %} 
        <br>
        <input type="submit" value="submit">
        <br><br>
    </form>
{% endblock %}