{% extends 'base.html.jinja' %}
{% from 'validation_macro.html.jinja' import project_validate %}


{% block header %}<h1> Results </h1>{% endblock %}
{% block content %}
    <form action="{{url_for('project.project_valid')}}" method="POST">
    {{ project_validate(project) }}
    <br>
        <input type="submit" value="Validate" name="submit">
    </form>
    <br>
{% endblock %}
